<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

  <py:def function="body_class">${h.literal('no-sidebar')}</py:def>
 
  <py:def function="page_title">${_('Welcome')}</py:def>

  <div py:match="//div[@id='content']" class="front-page">
    <div>
      <h1 class="page_heading">${_('Discover')} ${g.site_title}!</h1>
    </div>
    <div class="row">
      <div class="span12">
        <div class="action-box">
          <div class="action-box-inner find clearfix">
            <h1>${_('Find Open Source project and products')}</h1>

            <form action="${h.url_for(controller='package', action='search')}" method="GET"> 
              <input name="q" value="" class="search-field" placeholder="${_('Search')}" /> 
            </form> 
            <p>${g.site_title} ${_('contains')} <a href="${h.url_for(controller='package', action='search')}">${str(c.package_count) + _(' Open Source project and products')}</a> ${_('that you can browse, learn about and download.')}</p>
          </div>
        </div>
      </div>
    </div>
	<br /><br />
    <div py:if="c.groups" class="row whoelse">
      <div class="span12">
        <h2>${_('Looking for Organizations?')}</h2>
      </div>
    </div>
    <div class="row">
      <py:for each="i, group_dict in enumerate(c.groups[:6])">
        <div class="span4">
          <div class="group">
            <h3><a href="${h.url_for(controller='group', action='read', id=group_dict['name'])}">${group_dict['title']}</a></h3>
            <p>
              ${h.markdown_extract(group_dict['description'])}
            </p>
            <strong>${group_dict['title'] + _(' has ') + str(group_dict['packages']) + _(' projects.')}</strong>
          </div>
        </div>
      </py:for>
    </div>
  </div>
  <xi:include href="layout.html" />
</html>

